body {
  background-color: #F2F2F2;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #444444;
  padding: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-size: 17px;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  margin: 0 20px;
  color: #ffffff;
}

.upload-image-thumb {
  max-width: 800px;
  margin: 50px auto 0;
  display: block;
}

.image-container {
  margin: 0 auto;
  text-align: center;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

form {
  margin-top: 30px;
}

label {
  display: block;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: bold;
  color: #444444;
}

input[type=file] {
  margin-bottom: 20px;
}


input[type=submit] {
  background-color: #00BFFF;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s, color 0.2s;
}

input[type=submit]:hover {
  background-color: #ffffff;
  color: #00BFFF;
  border: 2px solid #00BFFF;
}
